.login-view {
    background-color: #ebeef6;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .login-card {
        background: #fff;
        width: 540px;
        margin: 0 auto;
        padding: 40px;
    }
}
