.ant-form {
    .ant-form-item-control-input {
        .ant-input[disabled] {
            // background-color: #fff;
            // pointer-events: none;
            cursor: initial;
            color: #000;
            background: initial;
            border: none;
        }
    }
}

.image img {
    width: 100%;
    height: auto;
}

html,
body {
    overflow: hidden;
    width: 100%;
}

.ant-modal-content {
    .ant-form-item {
        margin-bottom: 12px;
    }
}
.is-flex {
    display: flex;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.site-layout {
    height: calc(100vh - 64px);
    overflow: auto;
}
