.layout-logo {
    // height: 40px;
    padding: 0 16px;
    font-size: 18px;
    text-transform: uppercase;
}

.site-layout-header {
    padding: 0;
    position: relative;
    z-index: 1;
    background: #fff !important;
    box-shadow: 0 2px 8px #f0f1f2;
    display: flex;
    justify-content: space-between;
    background-color: white;
    // margin-bottom: 20px;
}

.ant-layout-sider {
    // height: calc(100% - 64px);
    // min-height: calc(100% - 64px) !important;
}
